.contenedorPrincAjustes{
    width: max-content;
    margin: auto;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.288);
}
.ContenedorDivisor{
    width: 60vw;
    padding: 2vw;
    margin: auto;
}
.ImagenPerfilUsuarioAjustes {
    float: left;
}

.imgPerfilUsuario {
    width: 13vw;
    height: 13vw;
    border-radius: 8vw;
    margin: 0.5vw 0vw;
}

.DatosAjustes {
    width: max-content;
    margin: auto;
}

.eliminarCuenta{
    margin-top: 1vw !important;
}