@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

#btnCreaComic,#guardarComic{
    color: white;
}

.JalaPoFavo {
    margin: auto;
}

.Contenedor {
    width: 50vw;
    margin: 2vw auto;
}
.imagenes{
    width: max-content;
    margin: auto;
}
.imgPerfil {
    width: 10vw;
    height: 10vw;
    border-radius: 6vw;
    margin-right: 2vw;
}
.imgPortada {
    width: 33.3vw;
    height: 7.66vw;
}
.Perfil {
    display: inline-block;
}
.Portada {
    display: inline-block;
    text-align: center;
}
.Datos {
    width: max-content;
    margin: 2vw auto;
}

#Eliminarcomic{
    margin-left: 1vw;
    color: rgb(236, 92, 67);
}

.CapitulosEdit {
    width: max-content;
    margin: 2vw auto;
}
