.MuiToolbar-root {
    background-color: #160526;
}

body{
    background-color: #F2F2F2;
}
.Logo {
    height: 4vw;
    margin-right: 1vw;
}

.btnBarra{
    background-color: #160526;
    border:none;
    color: #F2F2F2;
    padding: 4%;
    
}

.btnBarra:hover{
    background-color: #321150;
}

#notificacion{
    color: inherit;
}